---
import MainLayout from "../layouts/MainLayout.astro";
import ContactForm from "../components/common/ContactForm.astro";
import Nav_bar from "../components/common/Navbar.astro";
import Footer from "../components/common/Footer.astro";
import Nosotros from "../pages/inicio/Nosotros.astro";
import Productos from "../pages/inicio/Productos.astro";
import Valores from "../pages/inicio/Valores.astro";
import inicio from "../../src/assets/inicio/inicio.png";
---

<MainLayout title="KoonolMX">
	<Nav_bar />
	<section class="w-full min-h-screen flex md:items-center overflow-hidden">
		<!-- Imagen-->
		<img src={inicio.src} alt="" class="md:w-[65%] object-contain absolute right-0 md:top-40 top-50"/>

		<!-- Texto -->
		<div class="w-5/6 mx-auto mt-30">
			<div class="md:w-[800px] flex flex-col">

				<h1 class="text-xl md:text-6xl font-medium leading-tight text-principal">
					Integrando equipamiento
					<br />
					ingenieril premium para la
					<span class="text-[#7B97A6]"> industria global. </span>
				</h1>

				<p class="mt-8 text-xs md:text-lg text-textos leading-relaxed md:max-w-lg mt-40 md:mt-0">
					Comercializadora especializada en los sectores de
					transformación, refrigeración,
					<span class="text-[#3F88A4]">
						automatización y conectividad.
					</span>
				</p>
				<a href="#contacto" class=" md:w-2/6 text-center mt-5 md:mt-10 bg-principal text-white py-2 md:py-4 rounded-full shadow-xl hover:bg-[#08495d] transition-all duration-300">
					Contáctanos
				</a>
				
			</div>
			
		</div>
	</section>
	<Nosotros />
	<Productos />
	<Valores />
	
	<section id="contacto" class="w-5/6 mx-auto">
        <ContactForm />
    </section>
	<Footer />
</MainLayout>
