---
import MainLayout from "../layouts/MainLayout.astro";
import Contacto from "../components/common/ContactForm.astro";
import Nav_bar from "../components/common/Navbar.astro";
import Footer from "../components/common/Footer.astro";
---

<MainLayout title="KoonolMX">
	<Nav_bar />


	<section class="w-full flex justify-center">
		<div class="w-5/6 border border-blue-600 h-100">
			<p class="text-principal">INICIO</p>
		</div>
	</section>


	<Contacto />
	<Footer />
</MainLayout>
