---
import MainLayout from "../layouts/MainLayout.astro";
import Contacto from "../components/common/ContactForm.astro";
import Nav_bar from "../components/common/Navbar.astro";
import Footer from "../components/common/Footer.astro";
---

<MainLayout title="KoonolMX">
	<Nav_bar />


	<section class="w-full flex justify-center">
		<div class="w-5/6 border border-blue-600 h-100">
			<p class="text-principal">INICIO</p>
			<a 
				href="/productos/telecomunicaciones" 
				class="inline-block mt-4 px-6 py-2 bg-[#004B6E] text-white text-sm rounded-full hover:bg-slate-800 transition-colors"
				>
				Ver productos →
			</a>
		</div>
	</section>


	<Contacto />
	<Footer />
</MainLayout>
