---
import logo from "../../assets/footer/logoColor.png";
import engrane from "../../assets/inicio/nosotros/refaccion.png";
import rectangulo from "../../assets/inicio/nosotros/rectangulo.png";
import cuadro from "../../assets/inicio/nosotros/cuadro.png";
---

<section class="w-full flex justify-center md:py-24 md:mt-40">
  <!-- Engrane derecha-->
  <img
    src={engrane.src}
    alt=""
    class="absolute top-180 md:top-250 right-0 w-30 md:w-100 pointer-events-none"
  />
  <!-- Rectangulo derecha-->
  <img
    src={rectangulo.src}
    alt=""
    class="absolute top-150 md:top-235 right-0 w-60 md:w-210 pointer-events-none"
  />
  <!-- Cuadro izquierda-->
  <img
    src={cuadro.src}
    alt=""
    class="absolute top-140 md:top-180 left-0 w-10 md:w-50 pointer-events-none"
  />

  <div class="w-5/6 relative">
  
    <!-- Contenedor -->
    <div class="md:p-12 md:pt-35 ">
      <div class="grid lg:grid-cols-2 gap-10 items-center">
        <!-- Logo -->
        <div class="flex justify-center">
          <img src={logo.src} alt="Koonol MX" class="w-30 md:w-100" />
        </div>

        <!-- Texto -->
        <div class="">
          <div class="flex flex-col md:flex-row items-center md:items-start gap-2">
            <i class="fa-regular fa-circle-check text-principal text-xl md:text-3xl md:mt-1"
            ></i>
            <p class="text-xs md:text-base text-textos font-medium text-justify">
              Somos una empresa integrada por profesionales con más de 20 años
              de experiencia ejecutiva y técnica en el sector industrial.
            </p>
          </div>

          <div class="flex flex-col md:flex-row items-center md:items-start gap-2">
            <i class="fa-regular fa-circle-check text-principal text-xl md:text-3xl md:mt-1"
            ></i>
            <p class="text-xs md:text-base text-textos font-medium text-justify">
              Negociamos directamente con las plantas matriz de los fabricantes
              globales, garantizando autenticidad, soporte de fábrica y precios
              competitivos.
            </p>
          </div>

          <div class="flex flex-col md:flex-row items-center md:items-start gap-2">
            <i class="fa-regular fa-circle-check text-principal text-xl md:text-3xl md:mt-1"
            ></i>
            <p class="text-xs md:text-base text-textos font-medium text-justify">
              Operación y logística con capacidad internacional, con cobertura y
              distribución prioritaria en todo el territorio nacional mexicano.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
