---
import logo from "../../assets/footer/logoColor.png";
---

<section class="w-full flex justify-center py-24 relative">
  <div class="absolute top-30 left-1/4 w-16 h-16 border border-principal/20">
  </div>

  <div class="w-5/6 max-w-7xl">
    <div class="text-center mb-5">
      <h2 class="text-5xl font-medium text-principal uppercase">Contáctanos</h2>
    </div>
    <div class="bg-[#F3FAFC] rounded-[30px] overflow-hidden shadow-2xl grid lg:grid-cols-[65%_35%]">
      <!-- FORMULARIO -->
      <div class="p-8">
        <h3 class="text-3xl font-medium text-principal mb-3">
          Envíanos un mensaje
        </h3>
        <p class="text-textos mb-5">
          En Koonol, resolvemos el desabasto de componentes críticos y la falta
          de soporte especializado en la zona industrial.
        </p>
        <form class="space-y-2">
          <div class="grid md:grid-cols-2 gap-4">
            <div>
              <label class="block mb-2 text-principal font-semibold">
                Nombre
              </label>
              <input
                type="text"
                placeholder="Nombre completo"
                class="w-full rounded-3xl border border-gray-300 px-4 py-3 focus:border-textos outline-none transition"
              />
            </div>

            <div>
              <label class="block mb-2 text-principal font-semibold">
                Teléfono
              </label>

              <input
                type="text"
                placeholder="Número telefónico"
                class="w-full rounded-3xl border border-gray-300 px-4 py-3 focus:border-textos outline-none transition"
              />
            </div>
          </div>

          <div class="grid md:grid-cols-2 gap-5">
            <div>
              <label class="block mb-2 text-principal font-semibold">
                Empresa
              </label>

              <input
                type="text"
                placeholder="Nombre de tu empresa"
                class="w-full rounded-3xl border border-gray-300 px-4 py-3"
              />
            </div>

            <div>
              <label class="block mb-2 text-principal font-semibold">
                Email
              </label>

              <input
                type="email"
                placeholder="Correo electrónico"
                class="w-full rounded-3xl border border-gray-300 px-4 py-3"
              />
            </div>
          </div>

          <div>
            <label class="block mb-2 text-principal font-semibold">
              Cuéntanos sobre tu proyecto
            </label>

            <textarea
              rows="4"
              placeholder="Escribe aquí tu mensaje..."
              class="w-full rounded-3xl border border-gray-300 px-4 py-3 resize-none"
            ></textarea>
          </div>

          <div class="flex justify-end">
            <button
              class="bg-principal text-white px-12 py-4 rounded-full hover:bg-textos transition">
              Enviar
            </button>
          </div>
        </form>
      </div>

      <!-- CONTACTO  -->
      <div class="bg-[#005674]/5 flex flex-col items-center justify-center p-5">
        <img src={logo.src} alt="Koonol MX" class="w-50 mb-20" />
        <div class="space-y-5 text-center">
          <div class="grid grid-cols-2 gap-10 mb-10">
            <div>
              <i class="fa-regular fa-envelope text-3xl text-principal mb-3"></i>
              <h4 class="font-bold text-principal text-xl">Correo</h4>
              <p class="text-textos">contacto@koonol.com.mx</p>
            </div>

            <div>
              <i class="fa-solid fa-phone text-3xl text-principal mb-3"></i>
              <h4 class="font-bold text-principal text-xl">Teléfono</h4>
              <p class="text-textos">+52 442 454 0557</p>
            </div>
          </div>
          <div>
            <i class="fa-solid fa-location-dot text-3xl text-principal mb-3"></i>
            <h4 class="font-bold text-principal text-xl">Dirección</h4>
            <p class="text-textos leading-7">
              Camino al Cerrito N1<br />
              Local 1A<br />
              El Pueblito, Querétaro
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
